div {
    background-color: red;
    height: 400px;
    width: 800px;
    padding: 20px;
    margin: 50px;

}

h1{
    background-color: chartreuse;
    padding: 8px;
    padding-left: 350px;
    border-radius: 100px;
    color: white;
    border: black;
}

h2{
    background-color: chartreuse;
    padding: 8px;
    padding-left: 350px;
    border-radius: 100px;
    color: white;
    
}

h4{
    background-color: chartreuse;
    padding: 8px;
    padding-left: 30px;
    border-radius: 100px;
    color: white;
}